$primaryColor: #003366;

$primaryBackgroundColor: #fff;

$btnPrimaryColor: hsl(239, 59%, 55%);
$btnPrimaryHoverColor: hsl(239, 59%, 40%);

$themePrimaryColor: #bc3334;
$themeSecondaryColor: #5d83d4;
$themeTertiaryColor: #7ac962;
$themeInfoColor: #506a9b;
$themeSuccessColor: #3c993c;
$themeWarningColor: #e4e01c;
$themeErrorColor: hsl(360, 80%, 47%);

$white: #fff;
$black: #000;