@import './_variables';
@import './_colors';

:export {
  // Colors
  white: $white;
  black: $black;

  theme1stColor: $theme1stColor;
  theme1stColorHsl: $theme1stColor;
  theme2ndColor: $theme2ndColor;
  theme2ndColorHsl: $theme2ndColor;
  theme3rdColor: $theme3rdColor;
  theme3rdColorHsl: $theme3rdColor;
  theme4thColor: $theme4thColor;
  theme4thColorHsl: $theme4thColor;
  theme5thColor: $theme5thColor;
  theme5thColorHsl: $theme5thColor;
  theme6thColor: $theme6thColor;
  theme6thColorHsl: $theme6thColor;
  theme7thColor: $theme7thColor;
  theme7thColorHsl: $theme7thColor;

  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;

  primaryBkColor: $primaryBkColor;
  secondaryBkColor: $secondaryBkColor;

  btnPrimaryColor: $btnPrimaryColor;
  btnPrimaryHoverColor: $btnPrimaryHoverColor;
  btnSecondaryColor: $btnSecondaryColor;
  btnSecondaryHoverColor: $btnSecondaryHoverColor;
  btnInfoColor: $btnInfoColor;
  btnInfoHoverColor: $btnInfoHoverColor;
  btnLinkColor: $btnLinkColor;
  btnLinkHoverColor: $btnLinkHoverColor;
  btnSuccessColor: $btnSuccessColor;
  btnSuccessHoverColor: $btnSuccessHoverColor;
  btnWarningColor: $btnWarningColor;
  btnWarningHoverColor: $btnWarningHoverColor;
  btnErrorColor: $btnErrorColor;
  btnErrorHoverColor: $btnErrorHoverColor;


  themePrimaryColor: $themePrimaryColor;
  themePrimaryColorHsl: $themePrimaryColorHsl;
  themeSecondaryColor: $themeSecondaryColor;
  themeSecondaryColorHsl: $themeSecondaryColorHsl;
  themeInfoColor: $themeInfoColor;
  themeInfoColorHsl: $themeInfoColorHsl;
  themeLinkColor: $themeLinkColor;
  themeLinkColorHsl: $themeLinkColorHsl;
  themeSuccessColor: $themeSuccessColor;
  themeSuccessColorHsl: $themeSuccessColorHsl;
  themeWarningColor: $themeWarningColor;
  themeWarningColorHsl: $themeWarningColorHsl;
  themeErrorColor: $themeErrorColor;
  themeErrorColorHsl: $themeErrorColorHsl;

  themePrimaryBkColor: $themePrimaryBkColor;
  themeSecondaryBkColor: $themeSecondaryBkColor;

  // Variables
  fontSize: $fontSize;
  bannerSize: $bannerSize;
}