@import './_variables';
@import './_colors';

:export {
  // Colors
  primaryColor: $primaryColor;

  primaryBackgroundColor: $primaryBackgroundColor;

  btnPrimaryColor: $btnPrimaryColor;
  btnPrimaryHoverColor: $btnPrimaryHoverColor;

  themePrimaryColor: $themePrimaryColor;
  themeSecondaryColor: $themeSecondaryColor;
  themeTertiaryColor: $themeTertiaryColor;
  themeInfoColor: $themeInfoColor;
  themeSuccessColor: $themeSuccessColor;
  themeWarningColor: $themeWarningColor;
  themeErrorColor: $themeErrorColor;

  white: $white;
  black: $black;

  // Variables
  fontSize: $fontSize;
}