@import './_variables';
@import './_colors';

:export {
  // Colors
  primaryColor: $primaryColor;

  primaryBackgroundColor: $primaryBackgroundColor;

  btnPrimaryColor: $btnPrimaryColor;
  btnPrimaryHoverColor: $btnPrimaryHoverColor;

  themePrimaryColor: $themePrimaryColor;

  white: $white;
  black: $black;

  // Variables
  fontSize: $fontSize;
}