@import './css/_variables';
@import './css/_colors';

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background-image: url("/assets/background-02.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  flex: 1 1 1;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  background-color: rgba($primaryBackgroundColor, 0.75);

  h1.cname {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: $themePrimaryColor;
  }

  >a>img {
    padding: 0.5em 0 0 0;
  }

  >.company-logo {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 1em;
    margin: 0.25em;
    align-items: center;
  }

  >nav {
    display: flex;
    flex-flow: row;
    padding: 0 1em;

    ul {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: stretch;
    }
  }
}


main {
  flex: 1;
  padding: 1em;
  overflow: auto;
}

footer {
  flex: 1 1 1;
  padding: 0.5em;
  background-color: $themePrimaryColor;
  color: $white;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0;
}

p.copyright {
  font-size: 0.75em;
  text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  font-size: 1em;

  &>ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $themePrimaryColor;
  }

  &:visited {
    color: $black;
  }

  &:visited:hover {
    color: $themePrimaryColor;
  }

  &:active {
    color: $black;
  }
}

h1 {
  margin: 0;
  font-family: "Antonio", Sans-serif;
  color: $themePrimaryColor;
}

h2 {
  margin: 0;
  font-family: "Antonio", Sans-serif;
}

h3 {
  margin: 0;
  font-family: "Antonio", Sans-serif;
}

details {
  cursor: pointer;
}

.boxes {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  gap: 1em;
}

.box {
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: rgba($primaryBackgroundColor, 0.65);
  border-radius: 0.5em;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #efefef 0%, $themePrimaryColor 100%);
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  /* 
  * Prevents issues when the parent creates a 
  * stacking context. (For example, using the transform
  * property )
  */
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}

.pad {
  padding: 1em;
}

.text-white {
  color: $white;
}

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1em;
}

.col {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.nowrap {
  flex-wrap: nowrap;
}

.small {
  font-size: smaller;
}

.btn {
  display: inline-block;
  background-color: $btnPrimaryColor;
  color: $white;
  font-size: 1.05em;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.75em;
  cursor: pointer;
  box-shadow: rgba($black, 0.25) 0px 12px 55px, rgba($black, 0.12) 0px -12px 30px, rgba($black, 0.12) 0px 4px 6px, rgba($black, 0.17) 0px 12px 13px, rgba($black, 0.09) 0px -3px 5px;

  &:hover {
    background-color: $btnPrimaryHoverColor;
  }
}


img.logo {
  height: 4em;
  margin: 0;

  &.small {
    max-width: 60px;
    height: auto;
  }
}

.grid {
  display: grid;
  gap: 0.5em;

  &.gc-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto minmax(0, 1fr);
  }

  &>div:nth-child(odd) {
    text-align: center;
  }
}


.g-links {
  gap: 0;

  .gc-2 {
    grid-template-columns: 20px 1fr;
  }

  &>div:nth-child(even) {
    padding-left: 0.5em;
  }
}

.hr {
  content: "-";
  width: 10px;
  height: 50px;
  background-color: $white;
}