.frm-in {
  padding: 0.5rem;

  &>div:first-child {
    display: flex;
    flex-flow: column;

    &>div:first-child {
      display: flex;
      flex-flow: column;

      >label {
        min-width: 50px;
      }
    }
  }

  .error {
    color: red;
  }
}